<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container" id="app">
        <div class="container-app">
          <div class="container-app-users">
              <div class="my-profile">
                  <div class="my-profile-avatar">
                      <img src="img/avatar_io.jpg" alt="my-avatar">
                  </div>
                  <span class="my-profile-name">Nome Utente</span>
                  <div class="my-profile-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                  </div>
              </div>

              <div class="notification-sound">
                  <div class="icon-sound">
                    <i class="fas fa-bell-slash campana"></i>
                  </div>
                  <div class="text-sound">
                      <span class="text-sound-bold">Ricevi notifiche di nuovi messaggi</span>
                      <span class="text-sound-underline">Attiva notiche desktop</span>
                  </div>
              </div>

              <div class="search-users">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat" class="text-input">
              </div>

              <div class="box-chat">
                <div class="preview-chat"  v-for="(contact, index) in contacts" @click="addChat(index)">
                    <div class="preview-chat-avatar">
                        <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                    </div>
                    <div class="preview-chat-name-message">
                        <span class="preview-chat-name">{{ contact.name }}</span>
                        <span class="preview-chat-message">{{ contact.messages[contact.messages.length - 1].text }}</span>
                    </div>
                    <div class="preview-chat-date">
                        <span>{{ contact.messages[contact.messages.length - 1].date }}</span>
                    </div>
                </div>
              </div>
          </div>

          <div class="container-app-chat">
              <div class="contact">
                  <div class="contact-avatar">
                      <img :src="`img/avatar${contacts[valueChat].avatar}.jpg`" alt="">
                  </div>
                  <div class="contact-text">
                      <span class="contact-text-name"> {{ contacts[valueChat].name }} </span>
                      <span class="contact-text-date"> Ultimo accesso oggi alle {{ contacts[valueChat].messages[contacts[valueChat].messages.length - 1].date }} </span>
                  </div>
                  <div class="contact-icon">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>

              <div class="chat">
                  <div v-for="(i, index) in contacts[valueChat].messages.length " :class="(contacts[valueChat].messages[i-1].status == 'received') ? 'my-message' : 'cpu-message'"> {{ contacts[valueChat].messages[i-1].text }} </div>
              </div>

              <div class="text-bar">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" class="message-input">
                <i class="fas fa-microphone"></i>
              </div>
          </div>  
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>