<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/96/000000/whatsapp--v6.png">
    <title>Boolzapp</title>
</head>
<body>
    <div class="container" :class="(light == 1) ? 'container-light' : 'container-dark'" id="app">
        <div class="container-splash" :class="(splash == 0) ? 'none' : 'display-block'">
            <img :class="(splash == 0) ? 'none' : 'display-block'" src="img/35C31E91-7A2F-4CEA-A56A-27B98FA06097.png" alt="logo">
        </div>
        <div class="openButton">
            <button :class="(splash == 0) ? 'none' : 'display-block'" class="myButton" @click="optionSplash()">Apri BoolZapp</button>
        </div>


        <div class="container-app">
            <div class="container-app-users" :class="(splash == 1) ? 'none' : 'display-block'"> 
                <!--sezione profilo utente-->
                <div class="my-profile" :class="(light == 1) ? 'bg-white' : 'bg-dark'" :class="(light == 1) ? 'bold-text' : 'white-text'">
                    <div class="my-profile-avatar" :class="(light == 1) ? 'bg-white' : 'bg-dark'">
                        <img src="img/avatar_io.jpg" alt="my-avatar" :class="(light == 1) ? 'bg-white' : 'bg-dark'">
                    </div>
                    <span class="my-profile-name" :class="(light == 1) ? 'bg-white bold-text' : 'bg-dark white-text'">Nome Utente</span>
                    <div class="my-profile-icons" :class="(light == 1) ? 'bg-white' : 'bg-dark'">
                        <i class="fas fa-circle-notch" :class="(light == 1) ? 'bg-white' : 'bg-dark'"></i>
                        <i class="fas fa-comment-alt" :class="(light == 1) ? 'bg-white' : 'bg-dark'"></i>
                        <i class="fas fa-ellipsis-v" :class="(light == 1) ? 'bg-white' : 'bg-dark'"></i>
                    </div>
                </div>

                <!--sezione notifiche campanella-->
                <div class="notification-sound" :class="(splash == 1) ? 'none' : 'display-block'">
                    <div class="icon-sound">
                        <i class="fas fa-bell-slash campana"></i>
                    </div>
                    <div class="text-sound">
                        <span class="text-sound-bold bold-text">Ricevi notifiche di nuovi messaggi</span>
                        <span class="text-sound-underline">Attiva notiche desktop</span>
                    </div>
                </div>

                 <!--sezione per cercare utente specifico-->
                <div class="search-users" :class="(light == 1) ? 'bg-white' : 'bg-dark'" :class="(splash == 1) ? 'none' : 'display-block'">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" class="text-input" :class="(light == 1) ? 'bg-white grey-text' : 'bg-dark white-text'" v-model="nameSearch">
                </div>

                <!--tutti i miei contatti con i quali ho conversato-->
                <div class="box-chat" :class="(light == 1) ? 'bg-white' : 'bg-dark'" :class="(splash == 1) ? 'none' : 'display-block'">
                    <div class="preview-chat" :class="(light == 1) ? 'bg-white' : 'bg-dark'"  v-for="(contact, index) in contacts" @click="addChat(index)" v-bind="search(nameSearch)">
                        <div class="preview-chat-avatar">
                            <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                        </div>
                        <div class="preview-chat-name-message">
                            <span class="preview-chat-name" :class="(light == 1) ? 'bold-text' : 'white-text'">{{ contact.name }}</span>
                            <span class="preview-chat-message">{{ contact.messages[contact.messages.length - 1].text }}</span>
                        </div>
                        <div class="preview-chat-date">
                            <span class="status-chat-sx">{{ contact.messages[contact.messages.length - 1].date }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-app-chat" :class="(splash == 1) ? 'none' : 'display-block'">
                <!--contatto con il quale sto messaggiando-->
                <div class="contact">
                    <div class="contact-avatar" :class="(light == 1) ? 'bg-white' : 'bg-dark'">
                        <img :src="`img/avatar${contacts[valueChat].avatar}.jpg`" alt="">
                    </div>
                    <div class="contact-text" :class="(light == 1) ? 'bg-white' : 'bg-dark'">
                        <span class="contact-text-name" :class="(light == 1) ? 'bold-text' : 'white-text'"> {{ contacts[valueChat].name }} </span>
                        <span class="contact-text-date"> Ultimo accesso oggi alle {{ contacts[valueChat].messages[contacts[valueChat].messages.length - 1].date }} </span>
                    </div>
                    <div class="contact-icon"  :class="(light == 1) ? 'bg-white' : 'bg-dark'">
                        <i class="fas fa-search" :class="(light == 1) ? 'bg-white' : 'bg-dark'"></i>
                        <i class="fas fa-paperclip" :class="(light == 1) ? 'bg-white' : 'bg-dark'"></i>
                        <i class="fas fa-ellipsis-v" :class="(light == 1) ? 'bg-white' : 'bg-dark'" @click="showDelateOption(valueChat)"></i>
                        <div class="option-delate-message" v-show="contacts[valueChat].delate">
                            <button v-show="contacts[valueChat].delate" @click="delateAllMessages(valueChat)">Elimina messaggi</button>
                            <button v-show="contacts[valueChat].delate" @click="delateChat(valueChat)">Elimina chat</button>
                            <button v-show="contacts[valueChat].delate" @click="darkLight()">Dark/Light</button>
                            <button v-show="contacts[valueChat].delate" @click="optionSplash()">Chiudi BoolZapp</button>
                        </div>
                    </div>
                </div>

                <!--chat con contatto-->
                <!--nel caso in cui non ci sono messaggi mostrare schermata vuota-->
                <div v-else class="chat" :class="(light == 1) ? 'chat-light' : 'chat-dark'" v-if="contacts[valueChat].messages.length-1 == 0" :class="(splash == 1) ? 'none' : 'display-block'"></div>

                <div class="chat" :class="(light == 1) ? 'chat-light' : 'chat-dark'" :class="(splash == 1) ? 'none' : 'display-block'" v-else>
                    <div v-for="(i, index) in contacts[valueChat].messages.length " :class="(contacts[valueChat].messages[i-1].status == 'received') ? 'my-message' : 'cpu-message'"  v-show="contacts[valueChat].messages[i-1].visible"> 
                      <p>{{ contacts[valueChat].messages[i-1].text }}</p>
                      <i class="fas fa-chevron-down" v-show="!(contacts[valueChat].messages[i-1].option)" @click="showOption(i-1, valueChat)"></i>
                      <i class="fas fa-chevron-up" v-show="(contacts[valueChat].messages[i-1].option)" @click="showOption(i-1, valueChat)"></i>
                      <div class="option-message" v-show="contacts[valueChat].messages[i-1].option">
                          <button  v-show="contacts[valueChat].messages[i-1].option">Message info</button>
                          <button  v-show="contacts[valueChat].messages[i-1].option" @click="delateMessage(i-1, valueChat)">Delate message</button>
                      </div>
                      <p>{{ contacts[valueChat].messages[i-1].date }}</p>
                    </div>
                </div>

                <!--barra inserimento del testo-->
                <!--microfono cambiato in aeroplano quando inserisci inserisci messaggio-->
                <div class="text-bar" :class="(light == 1) ? 'bg-white' : 'bg-dark'" :class="(splash == 1) ? 'none' : 'display-block'">
                    <i class="far fa-smile grey-text"></i>
                    <input type="text" placeholder="Scrivi un messaggio" class="message-input" :class="(light == 1) ? 'bg-white grey-text' : 'bg-dark white-text'" v-model="message" @keyup.enter="newChat">
                    <i class="fas fa-microphone" :class="(message.length != 0) ? 'none' : 'inline-block'"></i>
                    <i class="fab fa-telegram-plane" :class="(message.length != 0) ? 'inline-block' : 'none'" @click="newChat"></i>
                </div>
            </div>  
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>